<h1>Hi I'm Haya</h1>
A good ‘About Me’ page will be straightforward and easy to read, but still interesting and engaging. Your ‘About Me’ page should express the following to your readers:

Who you are
What your values and principles are
Why the product or service you’re offering is important to you
How you got to where you are
To write an effective ‘About Me’, you should avoid writing fluff and just stick to facts about yourself and your business. An ‘About Me’ that is too wordy is more likely to bore your readers and get them to click away from your page.

A good ‘About Me’ page should also establish trust with your readers and form strong connections with them. Building trust with your customers helps to create brand loyalty, so they’ll be more likely to continue to support your business and choose you over competitors.

The ‘About Me’ me page should also be written for your target audience. When writing your ‘About Me’ page, try to visualize who your ideal customer is and what their needs/wants are. This will help you get a better idea of what you should be writing and the style of your content. For example, if your target audience is college students, your ‘About Me’ page will sound a lot different than if your target audience is financial professionals.

But regardless of who your target audience is, the content in your ‘About Me’ page should be interesting and engaging. Remember, it’s the first impression your readers will get about your business, so it needs to grab their attention right off the bat. Your ‘About Me’ page is where you can be a little bit more friendly and conversational in your tone, since that helps you seem more relatable.


<div class="d-grid gap-2 col-6 mx-auto">
</div>


<a href="/contact" id="mailbutton" class="btn btn-contact" target="_blank" >Contact Me</a>

<%= link_to "Go back home", root_path %>
