<h1> Contact </h1>

<div id="container-banner">
 <div class="row justify-content-center">
 <div class="col-12">
 </div>
  </div>

</div>

<form action="/contact">
 <input type="text">
 <input type="submit">
</form>
