<%#
<%= current_time = Time.now %>

<%# The time right now is <%= current_time %>

<div id="container-lg banner-image">
 <div class="row justify-content-center">
 <div class="col-12">
 </div>
  </div>

</div>
