/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background: rgb(253, 247, 245);
}
/*
.header {
  box-sizing: content-box;
  margin: auto;
  background-color: rgb(104, 160, 104);
  width: 100%;
  height: 100px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
} */

h1 {
  color: black;
  font-family: "Shrikhand";
  font-size: 70px;
  align-content: center;
  padding: 25px;
  letter-spacing: 3px;
}

/* .navbar {
  background-color: #78aa76;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
/* */

.menu {
  width: 100%;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  color: #000000;
  font-family: "Poppins";
} */

/* .logo {
  width: 100%;
  height: 50vh;
  position: relative;
} */

.container-banner {
  width: 100%;
  height: 70%;
}
/* .btn-container {
  margin-right: 15px;
} */



/* .sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 1%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
  max-height: 400px;
}

.sub-menu{
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #b5b4b1;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link a{
  width: 40px;
  background: #b1a9a0;
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  transition: transform 0.5s;
} */

.user-info{
  display: flex;
  align-items: center;
}

.user-info h3{
  font-weight: 500;
}

/* .user-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
} */


// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "flatpickr/dist/flatpickr.css";

/* // Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "components/shipments/edit";
@import "components/shipments/index_page";
@import "components/shipments/search_index";
@import "components/shipments/account_summary";
@import "components/login";

//@import "components/shipments/fuel_consumption";
//@import "components/shipments/co2_emission_graph";
@import "components/shipments/index_buttons";
@import "components/shipments/alerts_styling";
@import "components/shipments/modal_form";
@import "pages/dashboard"; */
