/*
.text-muted {
  color: #dbd8d8;
} */

.text-primary {
  color: rgb(255, 255, 255);
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #44644b;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #44644b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

/* .team-section {
  background-color: #f7f7f7;
} */

.bg-darkest-gray {
  background-color: #222;
}

.btn-primary {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 700;
  color: #fff;
  background-color: #587d60;
  --bs-btn-border-color: #587d60;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #44644b;
  color: #fff;
  background-color: #44644b;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #587d60;
  background-color: #587d60;
}

.btn-primary .badge {
  background-color: #f8f1e6;
}

.btn-xl {
  padding: 20px 40px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  color: black;
  background-color: #f8f1e6;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: black;
  background-color: #e2d1b5;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {

}

.btn-xl .badge {
  color: #587d60;
  background-color: #fff;
}

/* .navbar-default {
  border-color: transparent;
  background-color: #222;
}

.navbar-default .home-brand {
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  color: #1ee2e7;
}

.navbar-default .home-brand:hover,
.navbar-default .home-brand:focus,
.navbar-default .home-brand:active,
.navbar-default .home-brand.active {
  color: #fec503;
}

.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
  border-color: #1ee2e7;
  background-color: #1ee2e7;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1ee2e7;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #1ee2e7;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #17d0d5;
}

@media(min-width:768px) {
  .navbar-default {
      padding: 25px 0;
      border: 0;
      background-color: transparent;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s;
  }

  .navbar-default .home-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
      border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
      padding: 10px 0;
      background-color: #222;
  }

  .navbar-default.navbar-shrink .home-brand {
      font-size: 1.5em;
  } */


/* Header */
header {
  text-align: center;
  background-attachment: scroll;
  background-image: url(forest.webp);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 60px;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 110px;
  font-family: 'Poppins';
  font-size: 95px;
  line-height: 40px;
  color: #f8f1e6;
}


@media(min-width:768px) {
  header .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
      margin-bottom: 110px;
      font-family: 'Poppins';
      font-size: 95px;
      line-height: 40px;
      color: #f8f1e6;
  }
}


.card-section {
  height: 50%;
  width: 50%;
}

/* Section */
section {
  /* padding: 50px 0; */
  margin-top: 80px;
}

section h2.section-heading {
  margin-bottom: 60px;
  font-size: 40px;
}

section h2.section-heading-bottom {
  margin-top: 60px;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 50px;
  text-transform: none;
  font-size: 20px;
  text-align: center;
  color: white;
}

.fa-circle:before {
  color: #587d60;
}

@media(min-width:768px) {
  section {
      /* padding: 50px 0; */
      margin-top: 80px;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.card-section {
  margin-left: 25%;
}

.carousel-inner {
  background-image: url('1.png');
}

.carousel-item {
  background-image: url('2.png');
}

.third {
  background-image: url('3.png');
}


.first,
.second,
.third {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

/*
body {
  webkit-tap-highlight-color: #f8f1e6;
} */
