
p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: black;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #44644b;
}

h1,
h2,
h3,
h4,
h6 {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 700;
}

h5 {
  font-family: 'Playfair Display';
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 40px;
  font-weight: 80px;
  margin-top: 30%;
}

.img-centered {
  margin: 0 auto;
}


.bg-darkest-gray {
  background-color: #222;
}

.btn-primary {
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 700;
  color: #f8f1e6;
  background-color: #587d60;
  --bs-btn-border-color: #587d60;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  border-color: #44644b;
  color: #fff;
  background-color: #44644b;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #587d60;
  background-color: #587d60;
}

.btn-primary .badge {
  background-color: #f8f1e6;
}

.btn-xl {
  padding: 20px 40px;
  margin-top: 50px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 700;
  color: black;
  background-color: #f8f1e6;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: black;
  background-color: #e2d1b5;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {

}

.btn-xl .badge {
  color: #587d60;
  background-color: #fff;
}

/* Header */
header {
  text-align: center;
  background-attachment: scroll;
  background-image: url(forest.webp);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 60px;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 80px;
  font-family: 'Poppins';
  font-size: 65px;
  line-height: 40px;
  color: #f8f1e6;
}


header .intro-text .intro-heading {
  margin-bottom: 60px;
  font-family: 'Playfair Display';
  font-size: 50px;
  line-height: 50px;
  color: #f8f1e6;
}


@media(min-width:801px) {
  header .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
      margin-bottom: 80px;
      font-family: 'Poppins';
      font-size: 95px;
      line-height: 40px;
      color: #f8f1e6;
  }

  header .intro-text .intro-heading {
    margin-bottom: 40px;
    font-family: 'Playfair Display';
    font-size: 50px;
    line-height: 50px;
    color: #f8f1e6;
  }
}


.card-section {
  height: 50%;
  width: 50%;
}

/* Section */
section {
  margin-top: 80px;
}

section h2.section-heading {
  margin-bottom: 60px;
  font-size: 40px;
}

section h2.section-heading-bottom {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 50px;
  text-transform: none;
  font-size: 20px;
  text-align: center;
  color: #f8f1e6;
}

.circle-img {
  width: 150px; /* Adjust the width of the circle */
  height: 150px; /* Adjust the height of the circle */
  border-radius: 50%; /* Make the image circular */
  border: 2px solid #ccc; /* Add a border to the circle */
  overflow: hidden; /* Hide any content that exceeds the circle */
  text-align: ;
}

.circle-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-inner {
  width: 100%;
  height: 500px;
  background-color: #F8F1E6;
  border-radius: 10px;
}

.carousel-item {
  width: 100%;
  height: 100px;
}


@media(min-width:768px) {
  section {
      margin-top: 80px;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.card-section {
  margin-left: 25%;
}
