#container-banner {
  width: 900%;
  height: 600%;
  background-image: url("images/welcome.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.form-group {
  font-family: 'Poppins';
  color: #f8f1e6;
  font-size: 15px;
}

.form-control {
  background-color: #f8f1e6;
}

.btn-sub {
  position: absolute;
}

.container-contact {
  width: 35%;
  padding: 25px;
}

.section-heading-contact {
  margin-top: 60px;
  font-size: 40px;
}

section#contact {
  background-color: #222;
  background-image: url(forestgreen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
}

section#contact .section-heading-contact {
  color: #f8f1e6;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 236px;
}
